*{	
    margin: 0% 0%;  
    padding: 0;
}

html, body{
    height:100% ;
    width:100% vw;
}

#map{
	position: absolute;
	display: inline;
	height:100%;
	left:0%; 
     width:100%;
	transition:width 0.5s; 
} 